<template>
  <div id="eventList-id">
    <div id="q-app">
      <div class="q-pa-md">
        <div class="q-gutter-xl row">
          <q-select
            filled
            v-model="model"
            use-input
            input-debounce="0"
            label="Category"
            :options="options"
            @filter="filterFn"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">No results</q-item-section>
              </q-item>
            </template>
          </q-select>

          <q-input filled v-model="startDate" label="Start date">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date
                    v-model="startDate"
                    @input="() => $refs.qDateProxy.hide()"
                    mask="YYYY-MM-DD"
                  ></q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <q-input filled v-model="endDate" label="End date">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date
                    v-model="endDate"
                    @input="() => $refs.qDateProxy.hide()"
                    mask="YYYY-MM-DD"
                  ></q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-checkbox left-label v-model="recommend" label="Recommended Events" ></q-checkbox>
        </div>
      </div>
    </div>
    <div id="q-app">
      <div class="q-pa-md">
        <q-table
          title="Events"
          :data="evList"
          :columns="columns"
          selection="single"
          row-key="name"
          :selected.sync="selected"
          :filter="filter"
          :pagination.sync="pagination"
        >
          <template v-slot:top>
            <h6>Spacenews Events</h6>
            <q-space></q-space>
            <q-input dense debounce="300" color="primary" v-model="filter">
              <template v-slot:append>
                <q-icon name="search"></q-icon>
              </template>
            </q-input>
          </template>
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-for="col in props.cols" :key="col.name" :props="props">{{ col.label }}</q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr
              class="cursor-pointer"
              :props="props"
              @click.native="props.selected = !props.selected"
            >
              <q-td v-for="col in props.cols" :key="col.name" :props="props">{{ col.value }}</q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "EventList",
  props: {
    jwt: {},
    user: {},
    baseUrl: {},
  },
  data() {
    return {
      filter: "",
      model: "",
      startDate: null,
      endDate: null,
      eventsUrl: `${this.baseUrl}events/?limit=100000`,
      eventsRecommendUrl: `${this.baseUrl}events-recommend/`,
      clickUrl: `${this.baseUrl}click/`,
      recommend: false,
      options: [],
      evList: [],
      eventsList: [],
      pagination: {
        rowsPerPage: 10,
      },
      columns: [
        {
          name: "name",
          required: true,
          label: "Title",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "categories",
          required: true,
          label: "Categories",
          field: row => JSON.stringify(row.categories.map(x => x.title)),
          sortable: true
        },
        {
          name: "date",
          required: true,
          label: "Date",
          field: row => row.date,
          sortable: true
        },
        {
          name: "url",
          label: "URL",
          field: row => row.url,
        },
        {
          name: "source",
          label: "Source",
          field: row => row.source
        },
        {
          name: "id",
          label: "ID",
          field: row => row.id
        },
      ],
      selected: []
    };
  },
  watch: {
    recommend: function(newv, oldv) {
      if (newv === true) {
        this.fetchRecommendedEvents();
      } else {
        this.fetchEvents();
      }
    },
    model: function(newv, oldv) {
      if (newv !== undefined && this.eventList.length > 0) {
        this.filter = newv;
      }
    },
    startDate: function(newv, oldv) {
      if (newv !== "") {
        if (this.endDate !== null && new Date(this.endDate) < new Date(newv)) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: `Start date ${newv} should be <= the End date ${this.endDate}`
          });
          return;
        }
        if (this.eventList.length > 0) {
          this.evList = this.eventList.filter(
            ev => new Date(ev.date) >= new Date(newv)
          );
        }
      } else {
        if (this.endDate == "") {
          this.evList = this.eventList;
        }
      }
    },
    endDate: function(newv, oldv) {
      if (newv !== "") {
        if (this.startDate !== null && new Date(this.startDate) > new Date(newv)) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: `End date ${newv} should be >= the Start date ${this.startDate}`
          });
          return;
        }
        this.evList = this.eventList.filter(
          ev => new Date(ev.date) <= new Date(newv)
        );
      } else {
        if (this.startDate == "") {
          this.evList = this.eventList;
        }
      }
    },
    selected: function(newv, oldv) {
      if (newv !== undefined && newv[0] !== undefined && newv[0].url !== undefined) {
        this.openInNewTab(newv[0].url);
        this.postClick(this.user, newv[0].id);
      }
    },
  },
  mounted() {
    this.fetchEvents();
  },
  methods: {
    async postClick(userEmail, eventId) {
      try {
        let res = await axios.post(
          this.clickUrl,
          {email: userEmail, "event": eventId},
          {
            headers: {
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.jwt}`
            }
          }
        );
        if (res.status !== 201) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: `Failed to send a POST Click event. Status code ${res.status}`
          });
        }
      } catch (err) {
        let msg = "";
        if (err.hasOwnProperty("message") && err.message == "Network Error") {
          msg = "Network Error";
        } else {
          msg = err.response.data;
        }
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: `Failed to send a POST click event${JSON.stringify(msg)}`,
          position: "center"
        });
      }
    },
    async fetchRecommendedEvents() {
      try {
        let res = await axios.get(
          `${this.eventsRecommendUrl}${this.user}/`,
          {
            headers: {
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.jwt}`
            }
          }
        );
        if (res.status !== 200) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: `Failed to fetch data. Status code ${res.status}`
          });
        } else {
          this.eventList = res.data;
          this.eventList = this.addEventNames(this.eventList);
          this.buildEvList(this.eventList);
        }
      } catch (err) {
        let msg = "";
        if (err.hasOwnProperty("message") && err.message == "Network Error") {
          msg = "Network Error";
        } else {
          msg = err.response.data;
        }
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: `Failed to fetch data ${JSON.stringify(msg)}`,
          position: "center"
        });
      }
    },
    async fetchEvents() {
      try {
        let res = await axios.get(
          this.eventsUrl,
          {
            headers: {
              "Content-Type": "application/json",
              "Authorization": `Bearer ${this.jwt}`
            }
          }
        );
        if (res.status !== 200) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: `Failed to fetch data. Status code ${res.status}`
          });
        } else {
          this.eventList = res.data;
          this.eventList = this.addEventNames(this.eventList);
          this.buildEvList(this.eventList);
        }
      } catch (err) {
        let msg = "";
        if (err.hasOwnProperty("message") && err.message == "Network Error") {
          msg = "Network Error";
        } else {
          msg = err.response.data;
        }
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: `Failed to fetch data ${JSON.stringify(msg)}`,
          position: "center"
        });
      }
    },
    buildEvList(events) {
      this.evList = [];
      events.forEach(x => this.evList.push(x));
    },
    openInNewTab(url) {
      let win = window.open(url, "_blank");
      win.focus();
    },
    addEventNames(events) {
      events.map(ev => (ev.name = ev.title));
      return events;
    },
    getCategories(events) {
      let categories = new Set();
      categories.add("");
      events.forEach(function(ev) {
        ev.categories.forEach(cat => categories.add(cat.title));
      });
      return Array.from(categories);
    },
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.getCategories(this.evList);
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.getCategories(this.evList).filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  }
};
</script>
