<template>
  <div>
    <div v-if="routes[spaceNewsView]">
      <EventList :jwt="jwt" :user="lastUsername" :baseUrl="baseUrl" />
    </div>
    <div v-if="routes[signInView]">
      <SignIn :baseUrl="baseUrl"/>
    </div>
    <div v-if="routes[signUpView]">
      <SignUp :baseUrl="baseUrl"/>
    </div>
    <div v-if="routes[topEventsView]">
      <TopEvents :jwt="jwt" :baseUrl="baseUrl" />
    </div>
  </div>
</template>

<style>
</style>

<script>
import EventBus from "../eventBus.js";
import EventList from "./EventList.vue";
import SignIn from "./SignIn.vue";
import SignUp from "./SignUp.vue";
import TopEvents from "./TopEvents.vue";

export default {
  name: "MainContainer",
  components: {
    EventList,
    SignIn,
    SignUp,
    TopEvents,
  },
  data() {
    return {
      signInView: 0,
      signUpView: 1,
      spaceNewsView: 2,
      topEventsView: 3,
      routes: [true, false, false, false],
      baseUrl: "http://spacenews-aggregator.devdaily.org:4000/api/v1.0/",
      jwt: "",
      lastUsername: ""
    };
  },
  methods: {
    switchView(view) {
      this.routes = this.routes.map(view => false);
      this.routes[view] = true;
    }
  },
  mounted() {
    EventBus.$on("JWT_SET", payload => {
      this.jwt = payload;
      this.switchView(this.spaceNewsView);
    });
    EventBus.$on("LOGIN_USERNAME", payload => {
      this.lastUsername = payload;
    });
    EventBus.$on("SIGN_UP", payload => {
      this.switchView(this.signUpView);
    });
    EventBus.$on("LOGOUT", payload => {
      this.switchView(this.signInView);
    });
    EventBus.$on("LOGIN_CANCEL", payload => {
      this.switchView(this.signInView);
    });
    EventBus.$on("TOP_EVENTS", payload => {
      this.switchView(this.topEventsView);
    });
    EventBus.$on("SPACENEWS_EVENTS", payload => {
      this.switchView(this.spaceNewsView);
    });
    EventBus.$on("RECOMMEND_EVENTS", payload => {
      console.log("TODO RECOMMEND EVENTS");
    });
  }
};
</script>
