<template>
  <div class="q-pa-md">
    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-input
        filled
        v-model="username"
        label="Username Email *"
        lazy-rules
        :rules="[
        val => val !== null && val.length > 0 || 'Please type your e-mail',
        val => /\S+@\S+\.\S+/.test(val) || 'Please type a valid e-mail',
        ]"
      ></q-input>

      <q-input
        filled
        type="password"
        v-model="password"
        label="Password *"
        lazy-rules
        :rules="[
        val => val !== null && val.length > 0 || 'Please type your password'
        ]"
      ></q-input>
      <div>
        <q-btn label="Sign-in" type="submit" color="indigo"></q-btn>
        <q-btn label="Create a new account" type="reset" color="indigo" flat class="q-ml-sm"></q-btn>
      </div>
    </q-form>
  </div>
</template>

<script>
import axios from "axios";
import EventBus from "./../eventBus.js";

export default {
  name: "Login",
  props: {
    lastUsername: {},
    baseUrl: {},
  },
  data() {
    return {
      username: "",
      password: "",
      jwt: "",
      signInUrl: `${this.baseUrl}sign-in/`,
    };
  },
  methods: {
    async submitLogin() {
      try {
        let res = await axios.post(
          this.signInUrl,
          { email: this.username, password: this.password },
          {
            headers: {
              "Content-Type": "application/json",
            }
          }
        );
        if (res.status !== 201) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: `Failed to sign-in. Status code ${res.status}`
          });
        } else {
          this.jwt = res.data.token;
          EventBus.$emit("JWT_SET", this.jwt);
          EventBus.$emit("LOGIN_USERNAME", this.username);
        }
      } catch (err) {
        let msg = "";
        if (err.hasOwnProperty("message") && err.message == "Network Error") {
          msg = "Network Error";
        } else {
          msg = err.response.data;
        }
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: `Failed to sign-in ${JSON.stringify(msg)}`,
          position: "center"
        });
      }
    },
    onSubmit() {
      this.submitLogin();
    },

    onReset() {
      EventBus.$emit("SIGN_UP");
    }
  }
};
</script>
