<template>
  <div class="q-pa-md">
    <q-table
      title="Top 10 Clicked Events"
      :data="eventsList"
      :columns="columns"
      selection="single"
      row-key="name"
      :selected.sync="selected"
      :pagination.sync="pagination"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">{{ col.label }}</q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr
          class="cursor-pointer"
          :props="props"
          @click.native="props.selected = !props.selected"
        >
          <q-td v-for="col in props.cols" :key="col.name" :props="props">{{ col.value }}</q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import axios from "axios";
import EventBus from "./../eventBus.js";

export default {
  name: "TopEvents",
  props: {
    jwt: {},
    baseUrl: {},
  },
  data() {
    return {
      topEventsUrl: `${this.baseUrl}events-top/?limit=10`,
      eventsList: [],
      pagination: {
        rowsPerPage: 10,
      },
      columns: [
        {
          name: "name",
          required: true,
          label: "Title",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "date",
          required: true,
          label: "Date",
          field: row => row.date,
          sortable: true
        },
        {
          name: "url",
          label: "Article URL",
          field: row => row.url
        },
        {
          name: "source",
          label: "Event source",
          field: row => row.source
        }
      ],
      selected: []
    };
  },
  mounted() {
    this.fetchEvents();
  },
  watch: {
    selected: function(newv, oldv) {
      if (newv !== undefined) {
        this.openInNewTab(newv[0].url);
      }
    },
  },
  methods: {
    openInNewTab(url) {
      let win = window.open(url, "_blank");
      win.focus();
    },
    addEventNames(events) {
      events.map(ev => (ev.name = ev.title));
      return events;
    },
    async fetchEvents() {
      try {
        let res = await axios.get(this.topEventsUrl, {
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${this.jwt}`
          }
        });
        if (res.status !== 200) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: `Failed to fetch data. Status code ${res.status}`
          });
        } else {
          let data = this.addEventNames(res.data);
          this.eventsList = data;
        }
      } catch (err) {
        let msg = "";
        if (err.hasOwnProperty("message") && err.message == "Network Error") {
          msg = "Network Error";
        } else {
          msg = err.response.data;
        }
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: `Failed to fetch data ${JSON.stringify(msg)}`,
          position: "center"
        });
      }
    }
  }
};
</script>
