<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-indigo">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title>
          🌌 Spacenews-aggregator
        </q-toolbar-title>

        <div v-if="enableLogOut">
          <q-btn
            flat
            dense
            @click="logOut()"
            icon="account_circle"
            v-bind:label="lastUsername + ' - Logout'"
            no-caps
            ></q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        <q-item v-if="enableLogOut" clickable @click.native="events()">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Spacenews Events</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-if="enableLogOut" clickable @click.native="topEvents()">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Top Clicked Events</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" target="_blank" href="https://gitlab.com/viniarck/spacenews-aggregator">
          <q-item-section avatar>
            <q-icon name="code" />
          </q-item-section>
          <q-item-section>
            <q-item-label>GitLab repo</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <MainContainer/>
    </q-page-container>
  </q-layout>
</template>

<script>
import MainContainer from './components/MainContainer.vue';
import EventBus from './eventBus.js'

export default {
  name: 'LayoutDefault',

  components: {
    MainContainer,
  },

  data () {
    return {
      leftDrawerOpen: false,
      enableLogOut: false,
      lastUsername: "",
    }
  },
  methods: {
    logOut() {
        EventBus.$emit("LOGOUT", "");
        this.enableLogOut = false;
    },
    topEvents(){
      EventBus.$emit("TOP_EVENTS", "");
    },
    events(){
      EventBus.$emit("SPACENEWS_EVENTS", "");
    },
  },
  mounted() {
    EventBus.$on("JWT_SET", payload => {
      this.enableLogOut = true;
    });
    EventBus.$on("LOGIN_USERNAME", payload => {
      this.lastUsername = payload;
    });
  }
}
</script>

<style>
</style>
